#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML::XS qw/LoadFile DumpFile/;
use Cwd;

# $_REPL->load_plugin('DumpHistory');

my @input = glob 'academic/1/*.txt';
my $output = "academic/one.yaml";
my @word;
($word[$_] = $input[$_]) =~ s|academic/1/(.*).txt|$1| for ( 0 .. $#input );
my @text;
for my $i ( 0 .. $#input ) {
	my $definition = io->file( $input[$i] )->slurp;
	$definition =~ s/\n//mg;
	$definition =~ s/\s+(?=\s)//g;
	push @text, "$word[$i]: $definition\n";
}
io($output)->print(@text);
# my $input = LoadFile $output;
