#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML::XS qw/LoadFile DumpFile/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;

my $exam = 6;

use Grades;
use Grades::Groupwork;
# my $l = League->new( leagues => "/home/drbean/$ENV{SEMESTER}", id => $dir );
my $l = League->new( leagues => "/home/drbean/$ENV{SEMESTER}", id => 'B91' );
my $g = Grades->new({ league => $l });
my $co = Compcomp->new({ league => $l });
my $cl = $g->classwork;
my %m = map { $_->{id} => $_ } @{ $l->members };
my $approach = $l->approach;

my $gyaml = LoadFile "exam/$exam/g.yaml";
my $io = io "exam/$exam/g.csv";
# my %gemail = map { $m{$_}->{email} => $gyaml->{$_} } keys %m;
my %gcsv = map {$_ => 20 * $gyaml->{$_} } keys %m;
my @lines ; push @lines , "$m{$_}->{email},\t", $gcsv{$_} . "\n" for keys %m;
$io->print("\"Email address\",exam$exam\n");
# for gradebook-import -u idnumber
# $io->print("\"ID number\",exam$exam\n");
# $,="\n";
$io->append(@lines);
$io->close;
