#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML qw/LoadFile DumpFile Dump Bless/;
use Cwd;

my $round = 3;

use Grades;
use Grades::Groupwork;
(my $dir = getcwd) =~ s/^.*\/([^\/]*)$/$1/;
my $l = League->new( leagues => "/home/drbean/$ENV{SEMESTER}", id => $dir );
my $g = Grades->new({ league => $l });
my $co = Compcomp->new({ league => $l });
my $cl = $g->classwork;
my %m = map { $_->{id} => $_ } @{ $l->members };
my $approach = $l->approach;

my $r = LoadFile "exam/$round/round.yaml";

my %n2m = map {$m{$_}->{name} =>$m{$_} } keys %m;
my $can = $r->{group};
my @keys = sort keys %$can;
my $scores;
my %chinese = map { $_ => 0 } @keys;
Bless( \%chinese )->keys( \@keys );
$scores->{Chinese} = \%chinese;
my %letters;
for my $key ( @keys ) {
	my $key_can = $can->{$key};
	my @id = map { $n2m{$_}->{id} } @$key_can;
	my %id = map { $_ => undef } @id;
	Bless( \%id )->keys( \@id );
	$letters{$key} = \%id;
}
Bless( \%letters )->keys( \@keys );
$scores->{letters} = \%letters;

my @ids = map { $_ => [ map { $n2m{$_}->{id} } @{ $can->{$_} } ] } keys %$can;

print Dump $scores;
DumpFile "exam/$round/member.yaml", \@ids;
DumpFile "exam/$round/scores.yaml", $scores;
