#!/usr/bin/perl

use strict;
use warnings;
use IO::All;
use YAML::XS qw/LoadFile DumpFile Dump/;
use Cwd;

$_REPL->load_plugin('DumpHistory');

my $semester="${SEMESTER}";
my $school='nuu';
my $city = "Miaoli";
my $league='FLA0010';
my $course_id=8;

use Grades;
use Grades::Groupwork;
my $l = League->new( leagues => "/home/drbean/$semester", id => $league );
my $g = Grades->new({ league => $l });
my $co = Compcomp->new({ league => $l });
my $cl = $g->classwork;
my %m = map { $_->{id} => $_ } @{ $l->members };
#my %m = ( drbean =>
#	{ Chinese => "drbean",
#	id => "drbean",
#	name => "DrBean",
#	password => "bean",
#	}
#);
my $approach = $l->approach;

my $user_list = qx/Moosh user-list --course $course_id/;
my @user_list = split /\n/, $user_list;
my @users;
for my $user ( @user_list ) {
	$user =~ m/^([a-z]\d*) \((\d*)\)/;
	next unless $1 && $2;
	push @users, {username => $1, id => $2};
}

my @mod;
for my $user ( @users ) {
	my $id = $user->{id};
	my $schoolid = ucfirst $user->{username};
	my $password = $m{$schoolid}->{password};
	my $firstname = $m{$schoolid}->{name};
	my $city = "Miaoli";
	system("Moosh user-mod -i --firstname $firstname $id");
	push @mod, {firstname => $firstname, id => $id};
}


